.localisation {
    background-color: #EEEEEE;
    font-family: $font3;
    font-size: 16px;
    text-align: center;
    padding: 16px 0px;
    box-shadow: 0px 0px 3px black;

    i {
        padding: 0 8px 0 0;
   }
}

.accueil-description {
    text-align: center;
    background-color: #F8F8F8;
    padding: 0px 0px 64px 0px;

    h2 {
        font-family: $font4;
        font-size: 24px;
        padding-bottom: 12px;
   }

    p {
        font-family: $font5;
        font-size: 16px;
        padding-bottom: 48px;
   }

    .button-1 {
        background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
        border: none;
        color: white;
        border-radius: 2rem;
        box-shadow: 2px 1px 10px -5px black;
        font-family: $font2;
        font-size: 16px;
        font-weight: bold;
        padding: 1rem 1.5rem;

        &:hover {
            transition-duration: 500ms;
            opacity: 80%;
            box-shadow: 2px 1px 10px -5px black;
       }
   }
}

.fonctionnement {
    counter-reset: tuto;
    padding: 24px;

    h3 {
        font-family: $font4;
        font-size: 24px;
        padding: 32px 0px 24px 0px;
   }

    i {
        color: darkgrey;
        padding-left: 4px;
   }

    .fonctionnement-cards {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-evenly;
       }
   }

    .card-fonctionnement {
        display: flex;
        align-items: center;
        background-color: #F8F8F8;
        box-shadow: 0px 1px 16px -4px darkgray;
        position: relative;
        padding: 24px;
        position: relative;
        border-radius: 20px;
        font-family: $font2;
        gap: 16px;

        &::before {
            display: grid;
            place-items: center;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            position: absolute;
            left: -11px;
            content: counter(tuto);
            counter-increment: tuto;
            background-color: $color1;
            color: white;
            font-size: 16px;
       }

       &:hover {
            background-color: #f4eefb;

            i {
                color: $color1;
            }
       }
   }
}

.restaurant {
    background-color: #F8F8F8;
    padding: 24px;

    & h3 {
        font-family: $font4;
        font-size: 24px;
        padding: 24px 0px 20px 0px;
   }

    .menu {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        padding-bottom: 24px;

        @media (min-width: 768px) {
            grid-template-columns: repeat(2,1fr);
            gap: 32px;
       }
   }

    .card {
        box-shadow: 2px 1px 10px -5px black;
        border-radius: 10px;
        position: relative;

        & .new {
            position: absolute;
            top: 8px;
            right: 10px;
            background-color: $tertiaire;
            padding: 9px 12px;
            font-family: $font3;
            font-size: 16px;
            color: #078a69;
       }

        & .card-image {
            height: 150px;
            background-size: cover;
            background-position: bottom;
            border-radius: 10px 10px 0 0;
       }

        & .card-description {
            background-color: white;
            color: black;
            border-radius: 0 0 10px 10px;
            padding: 16px;
            position: relative;

            & h5 {
                font-family: $font3;
                font-size: 18px;
           }

            & p {
                font-family: $font5;
                font-size: 18px;
                padding-top: 3px;
           }
       }

        & .card-image1 {
            background-image: url('../openclassrooms-ohmyfood/assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
       }

        & .card-image2 {
            background-image: url('../openclassrooms-ohmyfood/assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
            background-position: center;
       }

        & .card-image3 {
            background-image: url('../openclassrooms-ohmyfood/assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
       }

        & .card-image4 {
            background-image: url('../openclassrooms-ohmyfood/assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
       }
   }
}

.heart {
    display: block;

    i {
        color: black;
        font-size: 24px;
        position: absolute;
        right: 28px;
        top: 80%;
        transform: translateY(-50%);
        transition-duration: 0.75s;
   }

    .fas {
        color: transparent;
        opacity: 0;
        background-clip: text;
        background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
   }
   
    &:hover .fas {
        opacity: 1;
   }
}