.localisation {
    background-color: #EEEEEE;
    font-family: $font3;
    font-size: xx-small;
    text-align: center;
    padding: 8px 0;
    box-shadow: 0 0 3px black;

    i {
        padding: 0 8px 0 0;
    }
}

.accueil-description {
    text-align: center;
    background-color: #F8F8F8;
    padding: 0 0 32px 0;

    h2 {
        font-family: $font4;
        font-size: small;
        padding: 16px 24px 0 24px;
    }

    p {
        font-family: $font5;
        font-size: x-small;
        padding: 8px 0 16px 0;
    }

    button {
        background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
        border: none;
        border-radius: 2rem;
        box-shadow: 2px 1px 10px -5px black;
        color: white;
        font-size: 0.5rem;
        font-weight: bold;
        padding: 0.5rem;
        transition: transform 200ms;
    }

    button:hover {
        transform: scale(1.02);
    }
}

.fonctionnement {
    padding: 0 0 32px 0;

    h3 {
        font-family: $font4;
        font-size: small;
        padding: 32px 0 16px 8px;
    }

    i {
        color: darkgrey;
        padding-left: 12px;
    }

    .fonctionnement-cards {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        gap: 8px;
    }

    .card1, .card2, .card3 {
        display: flex;
        align-items: center;
        background-color: #F8F8F8;
        position: relative;
        padding: 8px;
        border-radius: 10px;
        font-family: $font2;
        font-size: xx-small;
        gap: 8px;
    
    & .counter {
        position: absolute;
        background-color: $color1;
        border-radius: 20px;
        padding: 0 3px 0 3px;
        left: 1%;
    }

    & p {
        color: white;
        font-size: xx-small;
    }

    }
}

.restaurant {
    background-color: #F8F8F8;
    padding-left: 8px;
    padding-right: 8px;

    & h3 {
        font-family: $font4;
        font-size: small;
        padding: 24px 0 16px 0;
    }

    .menu {
        display: grid;
        grid-template-columns: 1;
        gap: 16px;
        padding-bottom: 24px;
    }

    .card {
        box-shadow: 2px 1px 10px -5px black;
        border-radius: 10px;
        position: relative;

        .new {
            position: absolute;
            top: 8px;
            right: 10px;
            background-color: $tertiaire;
            padding: 3px 6px 3px 6px;
            font-family: $font3;
            font-size: 8px;
            color: #078a69;
        }
    
        & .card-image {
            height: 100px;
            background-size: cover;
            background-position: bottom;
            border-radius: 10px 10px 0 0;
        }
    
        & .card-description {
            background-color: white;
            color: black;
            border-radius: 0 0 10px 10px;
            padding: 8px 0 8px 8px;
            position: relative;

            & h5 {
                font-family: $font4;
                font-size: xx-small;
            }

            & p {
                font-family: $font5;
                font-size: xx-small;
                padding-top: 1px;
            }

            i {
                font-size: 12px;
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translateY(-50%);
            }

            .fas {
                color: transparent;
                opacity: 0;
                background-clip: text;
                background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
            }

            &:hover .fas {
                opacity: 1;
            }
        }
    
        & .card-image1 {
            background-image: url('../openclassrooms-ohmyfood/assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
        }
    
        & .card-image2 {
            background-image: url('../openclassrooms-ohmyfood/assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
            background-position: center;
        }
    
        & .card-image3 {
            background-image: url('../openclassrooms-ohmyfood/assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
        }
    
        & .card-image4 {
            background-image: url('../openclassrooms-ohmyfood/assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
        }
    }
}