.footer {
    background-color: #353535;
    padding: 0 32px 16px 32px;

    .list {
        display: flex;
    }

    .text1 {
        padding-left: 10px;
    }

    .text2 {
        padding-left: 4px;
    }

    h4 {
        padding-top: 8px;
        padding-bottom: 8px;
        color: white;
        font-family: $font1;
        font-size: medium;
    }

    li {
        color: white;
        padding-bottom: 2px;
        list-style: none;
        font-family: $font5;
        font-size: medium;
    }
}