.loading-spinner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: 100vh;
    inset: 0px;
    z-index: 1;
    opacity: 0.9;
    animation: loader 1ms forwards;
    animation-delay: 3s;

    i {
        animation: spin 1.5s infinite;
        color: $color1;
    }
}

@keyframes loader {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}