.banniere img {
    display: block;
    width: 100%;
    height: 35vh;
    object-fit: cover;
    object-position: center;
}

h2 {
    font-size: 32px;
    font-family: $font1;
    padding: 35px 0px 0px 16px;
}

.header-restaurant-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #F8F8F8;
    border-radius: 32px 32px 0px 0px;
    margin-top: -90px;
    padding-bottom: 20px;
    border-bottom: white;
}

.menu-restaurant {
    background-color: #F8F8F8;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 16px;

    @media (min-width: 1200px) {
        grid-template-columns: repeat(3,1fr);
        gap: 32px;
    }

    .submenu {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .wrapper {
            display: flex;
            flex-direction: column;
            padding-top: 32px;
            gap: 16px;
        }
    }

    .menu-title {
        padding-top: 32px;
        font-family: $font2;
        text-transform: uppercase;
        position: relative;
        &::after {
            content: "";
            height: 0.25rem;
            width: 3.25rem;
            background-color: $tertiaire;
            position: absolute;
            top: 3.75rem;
            left: 0rem;
        }
    }

    .menuitem {
        border-radius: 20px;
        background-color: white;
        box-shadow: 1px 1px 7px -4px black;
        font-family: $font3;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 2px;
        &:hover {
            cursor: pointer;
        }
        
        .flex {
            display: flex;
            border-radius: 20px;
        }

        .price {
            display: flex;
            align-items: flex-end;
            margin-left: auto;
            padding-right: 16px;
            padding-bottom: 16px;
        }

        .text {
            padding: 16px;
            overflow: hidden;

            & h4 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            & p {
                font-family: $font5;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .check {
            display: grid;
            place-items: center;
            background-color: $tertiaire;
            margin-right: -64px;
            border-radius: 0px 20px 20px 0px;
            width: 64px;
            transition: all 0.5s;
        }

        .check i {
            display: grid;
            place-items: center;
            color: $tertiaire;
            width: 24px;
            border-radius: 32px;
            background-color: white;
            aspect-ratio: 1;
        }

        &:hover
        .check {
            margin-right: 0;
            i {
                animation: spin2 0.75s ease;
            }
        } 
    }
}

.button-restaurant {
    background-color: #F8F8F8;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 6rem;

    .button-2 {
        text-align: center;
        background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
        border: none;
        color: white;
        border-radius: 2rem;
        box-shadow: 2px 1px 10px -5px black;
        font-family: $font2;
        font-size: 16px;
        font-weight: bold;
        padding: 1rem 3rem;
    
        &:hover {
            transition-duration: 500ms;
            opacity: 80%;
            box-shadow: 2px 1px 10px -5px black;
        }
    }
}

.heart-restaurant {
    i {
        color: black;
        font-size: 24px;
        position: absolute;
        right: 34px;
        top: 39.5%;
        transform: translateY(-50%);
    }

    .fas {
        color: transparent;
        opacity: 0;
        background-clip: text;
        background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
    }

    &:hover .fas {
        opacity: 1;
    }
}