@font-face {
  font-family: "font1";
  src: url(../openclassrooms-ohmyfood/assets/fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "font2";
  src: url(../openclassrooms-ohmyfood/assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "font3";
  src: url(../openclassrooms-ohmyfood/assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "font4";
  src: url(../openclassrooms-ohmyfood/assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "font5";
  src: url(../openclassrooms-ohmyfood/assets/fonts/Roboto-Light.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
}
.header h2 {
  font-family: font1, sans-serif;
  font-size: 32px;
  text-align: center;
  padding: 16px 0px;
}

.arrow {
  position: absolute;
  left: 32px;
  bottom: 28px;
  font-size: 24px;
  color: black;
}

.localisation {
  background-color: #EEEEEE;
  font-family: font3, sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 16px 0px;
  box-shadow: 0px 0px 3px black;
}
.localisation i {
  padding: 0 8px 0 0;
}

.accueil-description {
  text-align: center;
  background-color: #F8F8F8;
  padding: 0px 0px 64px 0px;
}
.accueil-description h2 {
  font-family: font4, sans-serif;
  font-size: 24px;
  padding-bottom: 12px;
}
.accueil-description p {
  font-family: font5, sans-serif;
  font-size: 18px;
  padding-bottom: 48px;
}
.accueil-description .button-1 {
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border: none;
  color: white;
  border-radius: 2rem;
  box-shadow: 0px 2px 10px -3px black;
  font-family: font2, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 1rem 1.5rem;
}
.accueil-description .button-1:hover {
  transition-duration: 0.5s;
  opacity: 80%;
  box-shadow: 0px 2px 15px -3px black;
}

.fonctionnement {
  counter-reset: etape;
  padding: 24px;
}
.fonctionnement h3 {
  font-family: font4, sans-serif;
  font-size: 24px;
  padding: 32px 0px 24px 0px;
}
.fonctionnement i {
  color: darkgrey;
  padding-left: 4px;
}
.fonctionnement .fonctionnement-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 992px) {
  .fonctionnement .fonctionnement-cards {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.fonctionnement .card-fonctionnement {
  display: flex;
  align-items: center;
  background-color: #F8F8F8;
  box-shadow: 0px 1px 16px -4px darkgray;
  position: relative;
  padding: 24px;
  border-radius: 20px;
  font-family: font2, sans-serif;
  gap: 16px;
}
.fonctionnement .card-fonctionnement::before {
  display: grid;
  place-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -11px;
  content: counter(etape);
  counter-increment: etape;
  background-color: #9356DC;
  color: white;
  font-size: 16px;
}
.fonctionnement .card-fonctionnement:hover {
  background-color: #f4eefb;
}
.fonctionnement .card-fonctionnement:hover i {
  color: #9356DC;
}

.restaurant {
  background-color: #F8F8F8;
  padding: 24px;
}
.restaurant h3 {
  font-family: font4, sans-serif;
  font-size: 24px;
  padding: 24px 0px 20px 0px;
}
.restaurant .menu {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding-bottom: 24px;
}
@media (min-width: 992px) {
  .restaurant .menu {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}
.restaurant .card {
  box-shadow: 2px 1px 10px -5px black;
  border-radius: 10px;
  position: relative;
}
.restaurant .card .new {
  position: absolute;
  top: 8px;
  right: 10px;
  background-color: #99E2D0;
  padding: 9px 12px;
  font-family: font3, sans-serif;
  font-size: 16px;
  color: #078a69;
}
.restaurant .card .card-image {
  height: 150px;
  background-size: cover;
  background-position: bottom;
  border-radius: 10px 10px 0 0;
}
.restaurant .card .card-description {
  background-color: white;
  color: black;
  border-radius: 0 0 10px 10px;
  padding: 16px;
  position: relative;
}
.restaurant .card .card-description h5 {
  font-family: font3, sans-serif;
  font-size: 18px;
}
.restaurant .card .card-description p {
  font-family: font5, sans-serif;
  font-size: 18px;
  padding-top: 3px;
}
.restaurant .card .card-image1 {
  background-image: url("../openclassrooms-ohmyfood/assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.restaurant .card .card-image2 {
  background-image: url("../openclassrooms-ohmyfood/assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position: center;
}
.restaurant .card .card-image3 {
  background-image: url("../openclassrooms-ohmyfood/assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.restaurant .card .card-image4 {
  background-image: url("../openclassrooms-ohmyfood/assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.heart {
  display: block;
}
.heart i {
  color: black;
  font-size: 26px;
  position: absolute;
  right: 28px;
  top: 170px;
  transition-duration: 0.75s;
}
.heart .fas {
  opacity: 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
}
.heart:hover .fas {
  opacity: 1;
}

.loading-spinner {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  height: 100vh;
  inset: 0px;
  z-index: 1;
  opacity: 0.9;
  animation: loader 1ms forwards;
  animation-delay: 3s;
}
.loading-spinner i {
  animation: spin 1.5s infinite;
  color: #9356DC;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes apparition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.menuitem {
  animation: apparition 0.5s;
  animation-fill-mode: both;
}

.delay-1-1,
.delay-2-1,
.delay-3-1,
.delay-4-1 {
  animation-delay: 100ms;
}

.delay-1-2,
.delay-2-2,
.delay-3-2,
.delay-4-2 {
  animation-delay: 200ms;
}

.delay-1-3,
.delay-2-3,
.delay-3-3,
.delay-4-3 {
  animation-delay: 300ms;
}

.delay-2-4 {
  animation-delay: 375ms;
}

.delay-1-4,
.delay-2-5,
.delay-3-4,
.delay-4-4 {
  animation-delay: 400ms;
}

.delay-1-5,
.delay-2-6,
.delay-3-5,
.delay-4-5 {
  animation-delay: 500ms;
}

.delay-1-6,
.delay-2-7,
.delay-3-6,
.delay-4-6 {
  animation-delay: 600ms;
}

.delay-1-7,
.delay-2-8,
.delay-3-7,
.delay-4-7 {
  animation-delay: 700ms;
}

.delay-1-8,
.delay-2-9,
.delay-3-8,
.delay-4-8 {
  animation-delay: 800ms;
}

.delay-1-9,
.delay-2-10,
.delay-3-9,
.delay-4-9 {
  animation-delay: 900ms;
}

.banniere img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

h2 {
  font-size: 32px;
  font-family: font1, sans-serif;
  padding: 35px 0px 0px 16px;
}

.header-restaurant-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #F8F8F8;
  border-radius: 32px 32px 0px 0px;
  margin-top: -90px;
  padding-bottom: 20px;
  border-bottom: white;
}

.menu-restaurant {
  background-color: #F8F8F8;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0px 16px;
}
@media (min-width: 1200px) {
  .menu-restaurant {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}
.menu-restaurant .submenu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.menu-restaurant .submenu h3 {
  font-weight: 300;
}
.menu-restaurant .submenu .wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 16px;
}
.menu-restaurant .menu-title {
  padding-top: 32px;
  font-family: font2, sans-serif;
  text-transform: uppercase;
  position: relative;
}
.menu-restaurant .menu-title::after {
  content: "";
  height: 0.25rem;
  width: 3.25rem;
  background-color: #99E2D0;
  position: absolute;
  top: 3.75rem;
  left: 0rem;
}
.menu-restaurant .menuitem {
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 7px -4px black;
  font-family: font3, sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 2px;
}
.menu-restaurant .menuitem:hover {
  cursor: pointer;
}
.menu-restaurant .menuitem .flex {
  display: flex;
  border-radius: 20px;
}
.menu-restaurant .menuitem .price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding-right: 16px;
  padding-bottom: 16px;
}
.menu-restaurant .menuitem .text {
  padding: 16px;
  overflow: hidden;
}
.menu-restaurant .menuitem .text h4 {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-restaurant .menuitem .text p {
  font-family: font5, sans-serif;
  padding-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-restaurant .menuitem .check {
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  margin-right: -64px;
  border-radius: 0px 20px 20px 0px;
  width: 64px;
  transition: all 0.5s;
}
.menu-restaurant .menuitem .check i {
  display: grid;
  place-items: center;
  color: #99E2D0;
  width: 24px;
  border-radius: 32px;
  background-color: white;
  aspect-ratio: 1/1;
}
.menu-restaurant .menuitem:hover .check {
  margin-right: 0;
}
.menu-restaurant .menuitem:hover .check i {
  animation: spin2 0.75s ease;
}

.button-restaurant {
  background-color: #F8F8F8;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 6rem;
}
.button-restaurant .button-2 {
  text-align: center;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border: none;
  color: white;
  border-radius: 2rem;
  box-shadow: 0px 2px 10px -3px black;
  font-family: font2, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 1rem 3rem;
}
.button-restaurant .button-2:hover {
  transition-duration: 500ms;
  opacity: 80%;
  box-shadow: 0px 2px 15px -3px black;
}

.heart-restaurant {
  position: relative;
}
.heart-restaurant i {
  color: black;
  font-size: 26px;
  position: absolute;
  right: 34px;
  top: -43px;
  transform: translateY(-50%);
  transition-duration: 0.75s;
}
.heart-restaurant .fas {
  color: transparent;
  opacity: 0;
  background-clip: text;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
}
.heart-restaurant:hover .fas {
  opacity: 1;
}

.footer {
  background-color: #353535;
  padding: 0 32px 16px 32px;
  color: white;
}
.footer .list {
  display: flex;
  padding-top: 5px;
}
.footer .list a {
  text-decoration: none;
  color: white;
}
.footer .list a:hover {
  text-decoration: underline;
}
.footer .text1 {
  padding-left: 10px;
}
.footer .text2 {
  padding-left: 4px;
}
.footer h4 {
  padding-top: 24px;
  padding-bottom: 16px;
  font-family: font1, sans-serif;
  font-size: 18px;
}
.footer li {
  padding-bottom: 2px;
  list-style: none;
  font-family: font5, sans-serif;
  font-size: medium;
}

/*# sourceMappingURL=style.css.map */
